/* Navbar.css */

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.user-icon {
    font-size: 28px; /* Increase icon size */
    color: #fff; /* Set icon color */
    margin-left: auto; /* Adjust the positioning */
    display: flex;
    align-items: center; /* Center icon vertically */
}

.user-icon:hover {
    cursor: pointer;
    color: #ff4500; /* Change color on hover */
}

.user-icon .icon {
    margin-right: 5px; /* Add space between icon and text */
}
